[2021-09-02 20:42] mwwhited commented on #744
[project.assets.json.txt](https://github.com/dotnet/sourcelink/files/7101659/project.assets.json.txt)
[MyProject.csproj.nuget.g.targets.txt](https://github.com/dotnet/sourcelink/files/7101664/MyProject.csproj.nuget.g.targets.txt)

[2021-09-02 23:08] KalleOlaviNiemitalo commented on #744
As if the build assets of Microsoft.Build.Tasks.Git were excluded somehow. I wonder if the PrivateAssets metadata is involved in that. Anyway, if you add a direct PackageReference to Microsoft.Build.Tasks.Git, that might work around the problem.

[2021-09-03 00:54] #724 closed

[2021-09-08 15:30] mwwhited commented on #744
I tried adding the Build task directly and still no go.  the latest released beta seems to build correctly.  Once I get back to testing this if it works after CI build I'll just go with the beta release.  The beta is over a year old so it would be nice to get an actual release.

[2021-09-11 20:12] taori opened #745 "Sourcelink not working if snupkg is present, but works if it is not there"
Okay - So i have tried to set up my project with SourceLink and noticed that some versions did support stepping in while others did not.

I ended up noticing that the versions which DID work for me were those where CI failed to upload snupkg files because of empty symbols so i compared a couple commits and noticed that one configuration that did work for me was the following:

- Create compilation

[2021-09-13 23:39] StevenBonePgh commented on #122
@prnadago On April 20, 2021 you said "[We’re still committed to support TFVC in Visual Studio.](https://devblogs.microsoft.com/visualstudio/visual-studio-2022/#comment-24682)"

According to @tmat above, it sounds like what needs done is well understood.  Can you please put some resources on this? I'd really like to see you put some into action your statement referenced above.

[2021-09-19 18:32] Korporal opened #747 "Suspected bug - fails to pull from Github if file is already locally present at original disk location."
I'm seeing a suspected bug.

If I author a new library package and uses sourcelink, then publish the package. The I create an app locally on the same machine where the package's original source is situated and then add a ref to the published package and debug my app, the debugger sees that local source file not the specific one that it should have pulled from GitHub.

So if a package author is deb

[2021-09-19 18:35] Korporal commented on #747
FYI, here are the project settings I have for this test:
[code]

[2021-09-19 18:37] Korporal commented on #747
This might be similar to this issue too:

https://github.com/dotnet/sourcelink/issues/603

[2021-09-19 18:48] Korporal commented on #747
OK you can close this (I'll leave it here just as a record).

This is all my fault, a few days ago I temporarily unset this debug option:

![image](https://user-images.githubusercontent.com/12262952/133939213-bf30e6ea-7a68-4ae8-a00b-fcad32746180.png)

this was for some unrelated testing I was doingm re-checking that fixes my issue!

[2021-09-19 18:49] Korporal commented on #747
I'll close this, there's no point in burdening anyone, but having it recorded may help someone else who did what I did!

[2021-09-19 18:49] #747 closed

[2021-09-19 22:57] KalleOlaviNiemitalo commented on #747
IIRC, `<Deterministic>true</Deterministic>` makes the build system pass `-pathmap` to the compiler so that it does not save the original paths to the debug info; then the debugger should ignore your source file in your worktree and instead download the correct version.

[2021-09-20 19:23] Korporal opened #749 "Sourcelink embeds url to my fork rather than the main repo"
Is there a way to have sourcelink embed the URL to the main repo rather than the fork of the developer who does the build?

[2021-09-20 19:35] KalleOlaviNiemitalo commented on #749
I'd try running `git remote add` to set the URL of the main repo and then setting the MSBuild property [GitRepositoryRemoteName](https://github.com/dotnet/sourcelink/blob/31c76aec0522034f2a9b79a2b306222dc17a3e93/src/Microsoft.Build.Tasks.Git/build/Microsoft.Build.Tasks.Git.targets#L26).

[2021-09-20 19:40] Korporal commented on #749
@KalleOlaviNiemitalo - I work in SmartGit, we have two remotes defined, our fork is always named "fork" and the main repo (that we forked from) is always named "principal" these are conventions we always follow for our corporate private repos.

From your answer we can just embed "principal" somewhere/somehow into the project file, is that right?

[2021-09-20 19:44] KalleOlaviNiemitalo commented on #749
Directory.Build.props seems the obvious place, if you want to store this info in a version-controlled file. I would hesitate to do that though, if the repo can be cloned by someone who does not use those names for remotes.

[2021-09-20 19:50] Korporal commented on #749
@KalleOlaviNiemitalo - Thanks.

We do not (yet) do any kind of automatic builds, all builds are done by a developer sitting at Visual Studio (this is something we will eventually change). So there's no Directory.Build.props file as such.

Is there something we could embed within the project files themselves? at least for the short term?

[2021-09-20 19:53] KalleOlaviNiemitalo commented on #749
I suggested Directory.Build.props because you could easily make it apply to all projects in the repository. I don't see why you couldn't create such a file and keep building in the Visual Studio IDE.

[2021-09-20 20:24] Korporal commented on #749
OK, sorry I have simply never used Directory.Build.props, I assumed it was somehow associated with tools that build within a repo automatically.

Thanks

[2021-09-20 20:46] KalleOlaviNiemitalo commented on #749
PackageReference in Directory.Build.props works OK for restoring and building, but I'm not sure how well the "Manage NuGet Packages" feature of Visual Studio supports it.

[2021-09-21 20:05] Korporal commented on #749
@KalleOlaviNiemitalo - Hi,

I created a minimal `Directory.Build.props` file that does include the sourcelink stuff for anything we build now:

[code]

But I'm not clear in what to actually add next in order to leverage your suggestion for setting the `RemoteName`, this is no doubt due to me having zero experience with these build related files!

Any help appreciated.

[2021-09-21 22:35] Korporal opened #750 "What exactly is the difference between IncludeSymbols and DebugType?"
I read an [article](https://mitchelsellers.com/blog/article/net-5-deterministic-builds-source-linking) that mentions `<IncludeSymbols>` yet if we have set `<DebugType>` to embedded then what exactly is the difference?

This [other recent article](https://devblogs.microsoft.com/dotnet/producing-packages-with-source-link/) on a Microsoft blog doesn't even mention `<IncludeSymbols>` so I am pretty co

[2021-09-23 16:58] Korporal opened #751 "See commit ID in uppercase"
Is there anything we can add to our project files or to Directory.Build.props that will change the displayed commit ID into uppercase?

Here's what we see now:

![image](https://user-images.githubusercontent.com/12262952/134551056-cb8d6902-e293-4fe6-a50f-f5065cbd6eac.png)

Also is there any easy way to get at that string and perhaps format it differently?

Thx

[2021-09-23 21:46] KalleOlaviNiemitalo commented on #751
AFAIK the ProductVersion string comes from AssemblyInformationalVersion-Attribute, which is generated from the InformationalVersion property, to which the AddSourceRevisionToInformationalVersion target adds SourceRevisionId: <https://github.com/dotnet/sdk/blob/2a515cdbd8f6be1b019ae2c8d7f21952592f0697/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.GenerateAssemblyInfo.targets#L58-L69>

S

[2021-09-23 22:01] Korporal commented on #751
@KalleOlaviNiemitalo - That worked! Much appreciated, I'm quite unfamiliar with all of this build stuff and without your help this might have taken weeks!

Many thanks

[2021-09-23 22:33] KalleOlaviNiemitalo commented on #751
If you make NuGet packages from your projects, I suspect the upper-case commit ID may end up in the NuGet metadata too. I'm not sure upper case is allowed there. So, please test.

[2021-09-24 14:36] Korporal commented on #751
@KalleOlaviNiemitalo - Thanks, I just examined the DLL with DotPeek and the commit ID is still lowercase!

[2021-10-06 22:44] AaronLayton commented on #281
Tracking this issue also

[2021-10-14 14:44] AroglDarthu commented on #706
@tmat I would be happy to create a PR if you can point me in the right direction 😉

[2021-10-20 19:58] snovak7 opened #757 "NuGet: Transitive scenario"
I tried to develop a NuGet (meta)package which incorporates SourceLink with custom configuration.

The problem is that SourceLink MSBuild files are not run, and therefore not visible with Sdk.props view.

Is this part of buildTransitive, where package could be included into processing of it's own MSBuild files (props, targets) ?

[2021-10-26 20:20] nathan-alden-hp opened #759 "SourceLink generating incorrect URLs when configured with GitHub Enterprise URL"
I have a repository hosted on an internal GitHub Enterprise server. I've configured a .NET 5 solution to use Source Link by referencing the `Microsoft.SourceLink.GitHub` package version `1.0.0`. I've also manually configured all the properties required for reproducible builds (I am not using `DotNet.ReproducibleBuilds`). The `<RepositoryUrl>` property is set to `https://internal.ghe/org/project.gi

[2021-11-05 18:50] tmat commented on #759
@nathan-alden-hp

Could you try adding the following XML to your project?

[code]

[2021-11-05 22:34] tmat commented on #759
@nathan-alden-hp Does it work for you? If so then I think we can close this issue - I'll add the above to documentation.

[2021-11-07 09:24] wallymathieu commented on #707
Isn't this more around howto publish snupkg onto Nexus? Wouldn't that be more in line with https://github.com/sonatype-nexus-community/nexus-repository-microsoft-symbol-server ?

[2021-11-08 19:43] #749 closed

[2021-11-09 09:42] adamralph opened #765 "1.1.0 seems to depend on .NET 6"
See https://github.com/adamralph/minver/runs/4149908950?check_suite_focus=true

If this is the case, it seems like a breaking change, so shouldn't it be 2.0.0?

[2021-11-09 18:20] tmat commented on #765
I feel like we should reserve the major version bump to a change in Source Link protocol (the info written to the PDB). 1.1.0 does not make any changes in the protocol.

[2021-11-09 18:38] adamralph commented on #765
But 1.1.0 does break most projects which are currently using 1.0.0.

[2021-11-09 18:40] jimmym715 commented on #765
From [semver.org](https://semver.org/#spec-item-8):

8.  Major version X (X.y.z | X > 0) MUST be incremented if any backwards incompatible changes are introduced to the public API. It MAY also include minor and patch level changes. Patch and minor versions MUST be reset to 0 when major version is incremented.

[2021-11-09 19:41] litetex opened #766 "Publish Releasenotes/Changelog"
At first, thank you for the great work!
Now to the issue:

It would be great if users know what changed in the recent version (by looking at the repo).

Currently I can't find any releasenotes, changelog, etc. for 1.1.0 and I have to read through all commits/files ([_just_ >300 changed files](https://github.com/dotnet/sourcelink/compare/1.0.0...1.1.0)) to know what was changed.

Also would likely

[2021-11-10 00:45] #765 closed

[2021-11-10 00:46] tmat commented on #765
Will publish 1.1.1 that targets netcoreapp3.1.

[2021-11-10 10:16] MooVC opened #768 "Build Pipeline Error MSB4062: Microsoft.Build.Tasks.Git.LocateRepository"
Starting November 9th, 2021, all MooVC pipelines on Azure DevOps began to fail with the following error:

`##[error]C:\Users\VssAdministrator\.nuget\packages\microsoft.build.tasks.git\1.1.0\build\Microsoft.Build.Tasks.Git.targets(25,5): Error MSB4062: The "Microsoft.Build.Tasks.Git.LocateRepository" task could not be loaded from the assembly C:\Users\VssAdministrator\.nuget\packages\microsoft.buil

[2021-11-10 21:02] tmat commented on #768
Fixed, version 1.1.1 published.

[2021-11-10 21:02] #768 closed

[2021-11-10 21:31] tmat commented on #766
Done: https://github.com/dotnet/sourcelink/releases/tag/1.1.1

[2021-11-10 21:31] #766 closed

[2021-11-14 05:19] voltagex opened #769 "Microsoft.Build.Tasks.Git: Allow overriding git repositoryformatversion check"
Hi,
We just hit an issue over in https://github.com/pythonnet/pythonnet/issues/1613 where a git repository is checked out as part of a build step, but due to interactions between build systems, the `repositoryformatversion` is set to `1`, which then hits the following code in

https://github.com/dotnet/sourcelink/blob/48e002e14a97800c0d6acf24a55357699c9d72a4/src/Microsoft.Build.Tasks.Git/GitDataRe

[2021-11-14 06:15] KalleOlaviNiemitalo commented on #769
If GitDataReader were changed to support repositoryformatversion 1, then it would have to check whether it supports each extension used in the repository:

- noop: Consider supported.
- preciousObjects: Consider supported because GitDataReader does not delete objects in any case.
- partialclone: If some trees have been omitted from the clone, GetUntrackedFiles won't work as is. At minimum, I think

[2021-11-25 00:33] pakrym opened #771 "Support sparse checkout repositories"
See https://github.blog/2020-01-17-bring-your-monorepo-down-to-size-with-sparse-checkout/

Currently the build inside a sparse checkout fails with:

[code]

[2021-11-25 12:25] KalleOlaviNiemitalo commented on #769
Repository format version 1 with some extensions is being implemented in <https://github.com/dotnet/sourcelink/pull/772>.

[2021-12-21 19:57] lostmsu commented on #771
This is a problem for any packages exposed to Python: `pip`, the most commonly used Python package manager, does partial clones, which also use "version 1".

[2021-12-26 12:34] NightOwl888 opened #782 "Please document the fact that a configured RepositoryUrl interferes with SourceLink"
I finally got SourceLink to work after spending a ton of time on it.

The issue was I was trying to enable it on an existing repository that already configured its `<RepositoryUrl>` element in each `.csproj` file, which is applied after `<PublishRepositoryUrl>true</PublishRepositoryUrl>` from the `Directory.Build.props` file in the repository root. After removing the `<RepositoryUrl>` element, Sou

[2022-01-07 09:27] bthharper opened #786 "Unable to override URL used with GitLab"
I am trying to integrate SourceLink with an on-premise GitLab version 14.5.2, however the default URL being added into the PDBs is incorrect.  I have added the following to the csproj files:
[code]
However this produces:

[code]

Our gitlab server is hosted on `https://gitlab.acme.com/` but cloning in git is via `gitlabssh.acme.com`.

I tried overriding this using:

[code]
and
[code]

However, nei

[2022-01-07 11:51] bthharper commented on #786
After reviewng the code, I changed to using this which partiall fixed the issue:
[code]

However, now I am getting an HTML page returned asking me to login in (using an AD account).

Any one know how to work around this?

[2022-01-10 14:26] drauch opened #788 "sourcelink and WindowsAuhtentication"
Our internal BitBucket Server does require authentication, how to tell Source Link to perform Windows Authentication?

Best regards,
D.R.

[2022-01-10 16:34] tmat commented on #788
@chuckries

[2022-01-10 16:37] drauch commented on #788
In the meantime we have found this: https://github.com/dotnet/sourcelink/issues/322 but it didn't help. We're using VS 2022 though, not VS 2019.

[2022-01-10 20:17] tmat commented on #786
@chuckries re authentication for GitLab.

[2022-01-10 20:19] chuckries commented on #786
Private GitLab repos are not currently supported in Visual Studio: https://github.com/dotnet/sourcelink/issues/281

[2022-01-18 09:27] drauch commented on #788
Ping, is there anything we can do? A workaround perhaps?

[2022-01-18 10:04] KalleOlaviNiemitalo commented on #788
Does the generated SourceLink URL have `/rest/api/1.0/` in it? IIRC, you need that in order to make Bitbucket Server request HTTP authentication rather than redirect to an HTML login page. However, I don't know what kind of HTTP response is expected by Visual Studio.

[2022-01-18 10:38] drauch commented on #788
We don't set the SourceLink URL, according to the docs it should automatically find out the correct URL - do we have to set it manually?

[2022-01-18 12:06] KalleOlaviNiemitalo commented on #788
The MSBuild targets in this repository should generate a JSON file with the Source Link information and pass that to the C# compiler. You could check what the file contains.

[2022-01-18 13:30] drauch commented on #788
Do you know the file name or where this file should reside? I couldn't find it.

[2022-01-18 13:45] KalleOlaviNiemitalo commented on #788
Somewhere in the obj directory, I think. If you increase the log verbosity enough, then it should appear in the C# compiler options.

[2022-01-18 14:21] drauch commented on #788
Thanks, I found it in the obj directory. I can confirm that the URL does indeed _NOT_ contain "/rest/api/1.0/".

It looks like this:
[code]

How to adjust this URL so that it contains the correct endpoint?

[2022-01-18 15:11] KalleOlaviNiemitalo commented on #788
[code]

You might have to change or omit the port number, to match the URI used for cloning the repository.

When I did this last year, I was able to configure the URL in the Source Link information, but I was not able to make the Visual Studio debugger ask for credentials. I was not using VS 2022, though.

[2022-01-18 18:04] chuckries commented on #788
VS Source Link does not fully support authenticated requests to on prem BitBucket servers today. We are working to prioritize this capability.

You can use a tool like fiddler to look at the request being made by Visual Studio to the server. One issue may be that it does not include an authentication header. If this is the case, try turning on the option Tools > Option > Debugging > General > Fall

[2022-01-18 21:17] LordMike commented on #572
In case nobody thought of it, you can also force ordering of other targets by making a new target that comes before/after others - thus forcing one target to be evaluated before your new target, and another one after this new one. For this workaround:

[code]

[2022-01-25 12:58] drauch commented on #788
@KalleOlaviNiemitalo : I've added the information but it still receive only the Login page in VS.

@chuckries : I have "Fall back to Git Credential Manager authentication" enabled. There is still no header sent.

Fiddler shows the following:

1.  A GET request to `/projects/<ProjectKey>/repos/<Repo>/raw/path/to/file.cs?at=4fba4993b74923b0bb4a5c49f43c4ca6e7f87138 HTTP/1 (only headers sent are User-

[2022-01-25 13:25] KalleOlaviNiemitalo commented on #788
@drauch I don't think I can help you there. When I was trying to set up Source Link with Bitbucket Server and Visual Studio 2017, I was never able to make VS send any credentials. First I assumed it was because the HTTP response was a redirection to an HTML login page rather than 401 Unauthorized, which VS could have recognised. I configured Source Link to use the API URL and got the 401 but it st

[2022-01-25 15:18] drauch commented on #788
OK, thanks for your reply though! Hopefully @chuckries can help me out : )

[2022-02-09 19:15] christcottrell commented on #158
This is really old, but this is exactly what I needed! Hope it still works!

[2022-02-10 14:37] christcottrell commented on #158
By the way, it didn't seem to work for anyone who reads this later. Support for a nuspec file doesn't seem to be there for Source Link.

[2022-02-10 15:09] christcottrell opened #798 "Does SourceLink not work for embedded pdb files?"
Before I hear back that they should be in snupkg packages, I need to hear back on whether they are supported with the pdb files embedded.  This is one of our simplest use cases we have here at Deloitte and it's not working.

The code is being pushed to a Github within the Deloitte organization so the source code and the symbols are not public (hence not being able to use existing symbol servers th

[2022-02-10 16:43] christcottrell commented on #798
This is from 2 years ago? Really? And there is still no proper documentation on it. So when I'm rating my experience with Microsoft to be very poor, THIS is why. You build bad or incomplete products and don't document anything. Most have wasted time building and setting up something that just doesn't work or a simple set of documents explaining the best way would help.  I can go on and on with exa

[2022-02-10 17:42] christcottrell commented on #798
This is likely another question and I don't want to distract from the original question, but if a package is consuming another package that is also tied to Source Link. So we have package A being used by a consumer. Package A uses package B. When debugging from the consumer and we're able to get into package A, does it allow that debugging to flow into package B? Thanks!

[2022-02-10 18:06] tmat commented on #798
Yes, it should work as long as each of the packages is built with Source Link. Each assembly (.dll/.exe) has its own Source Link record in its PDB and is handled separately. Their sources can be in different repos of different git hosts.

[2022-02-10 19:41] chuckries commented on #798
@tmat thanks, I assumed Embedded PDB.

@christcottrell I think the issue then is that the debugger is not finding the PDB's from within the nuget package. Try this:

1. Open Modules Window via Debug > Windows > Modules.
2. Right click on CMP.Validation.Service > Load Symbols
3. You should see a File Open Dialog
4. Browse to PDB in the NuGet Package within the NuGet Package Cache (defualt location

[2022-02-11 08:46] wouterroos commented on #487
Hi,

I also have this issue in VS2022. The extension mentioned in this issue to collect logs doesn't work in VS2022. I've verified that I'm able to access the source files through the browser using the same (AD) account that I use for everything. I tried authenticating with a Microsoft Account that also has access to the repo I'm trying to get SourceLink working for and that works fine, but since

[2022-02-22 03:50] giggio commented on #572
I was getting errors for other two files, I had to add 2 more lines to `EmbeddedFiles`. I don't know if this is a new issue in NuGet or .NET 6, but I hope it helps someone.

[code]

[2022-02-22 08:04] drauch commented on #788
@chuckries Please help us out, we really want that feature to work : )

[2022-02-25 22:14] sthames42 opened #803 "What does Visual Studio do when you select "Don't Ask Again"?"
When Visual Studio is about to download using a Source Link URL from a remote repo, a dialog pops up with three options.
Option 2 (Don't Ask Again) appears only to display if the repo is secured by TLS:

I selected option 2 and now never see this dialog again. I'm trying to get it to show so I can demo it for my staff.

Does anyone know what Visual Studio does to prevent this dialog from opening a

[2022-02-25 22:30] tmat commented on #803
@chuckries

[2022-02-25 22:39] chuckries commented on #803
The option is controlled by a registry key, you can get the dialog to come back using the following steps:

1. Close all VS instances.
2. Open a Developer Command Prompt for Visual Studio 2019
3. `vsregedit set local HKCU Debugger DisableSourceLinkPrompt dword 0`

The dialog should be shown again the next time Source Link is invoked.

**NOTE**: The dialog is not shown if the Source Link file is in

[2022-02-26 12:58] sthames42 commented on #803
Awesome! Thank you. Registry, eh? Wouldn't have thought that. Can't find much in the way of vsregedit docs.
Thanks, again.

[2022-02-26 12:58] #803 closed

[2022-03-08 22:45] AaronLayton commented on #281
Hmm thanks @sthames42 I will give this a go tomorrow and report back :-)

[2022-03-24 10:42] mattnewport commented on #798
Thanks @chuckries for the solution here, I ran into the same problem and manually locating the .pdb file worked.

Now I'm wondering if there's a way to make this work automatically? Is there a good way to make this seamless for private packages?

[2022-03-24 10:54] mattnewport commented on #798
Switching the project settings so that the symbols are embedded into the .dll rather than placed in a separate .pdb seems to solve the problem and is an acceptable tradeoff for our use case so I think that's what we'll do for internal packages going forward.

[2022-03-25 09:56] odalet commented on #135
@mhofmann85's trick of using `View -> Other Windows -> Web browser` in VS in order to authenticate against a private GitLab instance does not work anymore in VS2022 as... the Web browser window was removed! So back to finding another workaround... 😡

[2022-03-25 15:21] sthames42 commented on #135
It doesn't work in 2016, either. Other than hosting your own local GitLab instance you can allow to be public within another security layer, the only way to do it, right now, is as @juangburgos suggested. I wrote [GitlabProxy](https://gitlab.com/slcon/pub/repo/gitlabproxy) to handle this under IIS and it works flawlessly for me. Maybe it can help someone else.

[2022-03-25 17:16] odalet commented on #135
@sthames42 2016?

I've managed to have the browser trick work again in VS2022 by basically recreating the Browser window in an extension...

[2022-03-25 18:53] jfichtner commented on #561
Is this still true? Support for Source Link was implemented in VS for Mac 2 years ago and still doesn't exist in VS for Windows? This is incredibly disheartening for someone who leads a team of Xamarin devs using VS for Windows! Will this ever be supported? Also seems strange that this particular issue is still marked as "Open" and "New issue" with zero responses in over 2 years.

[2022-03-29 11:09] mikhail-barg commented on #135
@odalet Could you please share/publish the extension? It would be of a great help!

[2022-03-29 12:51] mhofmann85 commented on #135
@mikhail-barg I had no time to test it, but if i search in the Extension Manager, i find a WebBrowser Extension for VS2022. Maybe you can try that one.

[2022-03-29 15:31] odalet commented on #135
@mikhail-barg , @mhofmann85 The extension you found is indeed the one I quickly crafted this WE; but I was too quick in replying it solves the issue:

**IT DOES NOT SOLVE THE ISSUE 😭**

However, I managed to find another workaround: Unless you are using Windows 11, you should still have the old Internet Explorer browser installed on your system.

Execute it (Windows+R then iexplore.exe) and log in

[2022-03-30 06:47] mikhail-barg commented on #135
@tmat Thanks for the detailed info on the workaround! I will try it as soon as I face the issue again.

[2022-04-01 19:01] ReubenBond opened #820 "Target GitHub repository when building in Azure DevOps"
Our official builds are created by a private Azure DevOps CI server, but we want SourceLink to point to our public GitHub repository (https://github.com/dotnet/orleans). It is not clear to me how we can configure that: I assume we should pull in the Microsoft.SourceLink.GitHub package, but I'm not sure what properties to set to make it work.

I believe these are the relevant files:
* https://githu

[2022-04-04 18:05] tmat commented on #820
See
https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Arcade.Sdk/tools/RepositoryInfo.targets#L7-L10
and
https://github.com/dotnet/arcade/blob/main/src/Microsoft.DotNet.Arcade.Sdk/tools/RepositoryInfo.targets#L43-L82

The former adds both GitHub and AzDO Source Link packages and the latter sets up mapping between them.

Alternatively, your AzDO official build could set [`insteadOf`](

[2022-04-04 21:37] ReubenBond commented on #820
Thank you, @tmat! I have applied the magic incantations to dotnet/orleans here: https://github.com/dotnet/orleans/pull/7673
My tests in CI show that it is working, so I'll close this.

[2022-04-04 21:37] #820 closed

[2022-04-07 14:54] gnimor commented on #487
We are in a similar situation as @wouterroos and are looking for a work-around on this issue. Any update on this?

[2022-04-13 06:13] darjanbogdan commented on #281
GCM team managed to add GitLab support. Even though I haven't had chance to test it yet, it should be possible to use source linking with GitLab.com from now on.

More info:
- https://gitlab.com/gitlab-org/gitlab/-/issues/225215#note_898150816
- https://github.com/GitCredentialManager/git-credential-manager/blob/main/docs/gitlab.md

[2022-04-13 16:25] chuckries commented on #281
@darjanbogdan thanks for the info! I will look into this again.

[2022-04-15 21:41] chuckries commented on #281
I had a chance to look at the new GitLab support in GCM. I was able to get an OAuth2 token from it, but there are still several issues integrating with Visual Studio Source Link. For the purposes of this conversation, I am speaking about GitLab.com, and not a self-hosted instance. I do not have access to a self-hosted GitLab for testing, I am only able to test against public.

First, two statement

[2022-05-20 13:31] ThomasTosik opened #829 "Source Link errors: uriString"
Hi,

i am trying to use Source Link on my own internal packages but keep getting the following error:
[code]

- The pdbs are loaded (i can see them in them modules window)
- When i manually tell him to use a path to source files on the filesystem than it works
- When i take the url `(ssh://<ommited>:22/<ommited>/items?api-version=1.0&versionType=commit&version=4dd0db19247f3bd06bef4f14c07075ee96f08

[2022-05-20 18:03] hoyosjs opened #830 "Allow for _GenerateSourceLinkFile to run when DebugType is none"
In our case, the native build is using a non-msbuild orchestrator and MSVC as the compiler. We like to use sourcelink becuase it makes things like dump diagnosis a lot more convenient, and we were leveraging the targets here to do the heavy lifting of getting the commit and writing the file. We were doing this in a NoTargets project since we don't really want any language targets to run, and most

[2022-05-24 08:19] sylveon commented on #580
Am also interested in using SourceLink with static libraries

[2022-07-06 20:52] MichaelSimons opened #835 "Duplicate 'PackageReference' items found error when building in source-build"
The following error occurs when building sourcelink in source-build with the latest toolset

[code]

By looking at `[Microsoft.Build.Tasks.Tfvc.csproj](https://github.com/dotnet/sourcelink/blob/main/src/Microsoft.Build.Tasks.Tfvc/Microsoft.Build.Tasks.Tfvc.csproj)`, you can clearly see the `Microsoft.Build` and `Microsoft.Build.Tasks.Core` PackageReferences are duplicated.

[2022-07-06 21:36] #835 closed

[2022-07-08 20:53] MichaelSimons opened #838 "Update projects to build net7.0 TFM"
Source build requires projects to build with the current TFM or a supported netstandard TFM.  sourcelink currently targets net6.0.  Ideally this would be updated to net7.0.  If that is not possible, the TFM could be conditioned for source-build but ideally the regular and source build would be identical.

[2022-07-08 20:54] tmat commented on #838
Should be possible to update to net7

[2022-07-11 18:21] #838 closed

[2022-07-14 08:42] KirillSokolovsky commented on #487
Faced the same issue with source link and our private Bitbucket server.
Use Internet Explorer on local machine and authorize in your VCS with password saving
IE saves password in Windows Credential Manager (Web Credential)
And seems like source link uses credential exactly from here (in case authorization is required)

[2022-07-14 13:52] christianerbsmehl commented on #281
Since the missing `read_repository` scope has now been added (see https://github.com/GitCredentialManager/git-credential-manager/issues/669), things *should* work now with the latest version of Git Credential Manager and private Gitlab instances.
I followed [this guide](https://github.com/GitCredentialManager/git-credential-manager/blob/main/docs/gitlab.md) but however, I didn't manage to get it w

[2022-07-26 07:45] Tyrap commented on #561
We run a Xamarin application on the Android emulator where most of the code is included thru NuGet Packages (which are made by other teams). We are unable to debug this which gives us an undoable development experience.  Will this feature ever be implemented or are there any other ways to debug NuGet packages in an Xamarin application running on the device emulator?

[2022-07-26 08:03] kkolodziejczak commented on #561
@Tyrap I have been working with NuGet packages and Xamarin for some time now. I can tell You that It is possible to debug NuGet Packages. The thing is that packages need to be build locally, and You do not even need source link for this. If you have source files locally, build packages locally, You can add the output directory as a source for packages, override NuGet versions for the local ones. I

[2022-07-26 11:20] Tyrap commented on #561
Not working on my machine. I can build a package locally (with portable PDB files). When I consume it within my Xamarin android project and start the debugger I can see that the library is loaded with symbols. However, when I put a break point just before the call into the library, and want to step into the method, the first time I hit F11 nothing happen (would expect it gets into the method) and

[2022-07-26 16:21] tmat commented on #561
@chuckries

[2022-07-27 16:33] kkolodziejczak commented on #561
@Tyrap True, I forgot about one thing. It does work because of ReSharper. If You have it You need to set: `Options → Tools → Debugger → External Sources → Navigation to Sources` _check: Use sources from symbol files when available_.

[2022-07-27 20:19] AArnott commented on #492
Actually, this is still reproing for me, even when the 'fix' for dotnet/wpf#1718 is applied (by setting `IncludePackageReferencesDuringMarkupCompilation=true`). And anyway, that bug seems to focus on the markup compilation, whereas in my repro the markup compilation completes successfully. It's the subsequent csc in the original project that fails.

[2022-07-28 14:41] Tyrap commented on #561
I have Resharper with the option set but still it won't step into the method. I also tried it with the Rider IDE. same thing. it won't step into the method.

[2022-07-29 11:35] kkolodziejczak commented on #561
Have you unchecked in VS options, `Debugging → Enable Just My Code`?
Also have selected `Debugging → Symbols → Load all modules, unless excluded`, and specified `Cache symbols in this directory`?

[2022-08-26 15:35] alefranz opened #862 "Visual Studio unable to locate git-credential-manager-core for recent git version"
SourceLink doesn't seem to work anymore for repository that require authentication.
It seems that recently the git installer has moved the location of `git-credential-manager-core.exe` from `C:\Program Files\Git\mingw64\libexec\git-core` to `C:\Program Files\Git\mingw64\bin` (see https://github.com/GitCredentialManager/git-credential-manager/issues/762).
Visual Studio is no longer able to locate i

[2022-08-26 15:58] tmat commented on #862
@chuckries

[2022-08-26 16:57] chuckries commented on #862
@KalleOlaviNiemitalo no it does not, it directly invokes the `git-credential-manager-core.exe` that is installed with Visual Studio.

@alefranz this was recently fixed in a few versions of Visual Studio, can you provide the specific version you are seeing this issue in?

[2022-08-26 19:21] alefranz commented on #862
ah! I'm on Preview 1 of 17.4.0, I'll wait for the next preview and re-open if it will be still an issue.
Thank you both and have a nice weekend!

[2022-08-26 19:21] #862 closed

[2022-08-26 19:31] chuckries commented on #862
@alefranz yes it is known to be broken in preview 1 unfortunately, but will be fixed in preview 2.

If you need to fix in preview 1, you **should** be able to:
1. Close all VS instances
2. Open `<vs install root>\Common7\IDE\CommonExtensions\Microsoft\TeamFoundation\Team Explorer\TeamExplorer.pkgdef` as Administrator in a text editor
3. Change `"GitCredentialManagerCoreExePath"="$PackageFolder$\Gi

[2022-08-29 08:47] czd890 commented on #281
I can access https://gitlab.com/my_private_repo/raw/b80730a8f00280424cb3fb1d8d18e0d6fedb7d78/******.cs in my chrome.
but source link not working in visual studio 17.3.2. it show `ERROR: The request failed with code 503 : "Service Temporarily Unavailable".`

[code]
[Applications](https://gitlab.com/-/profile/applications) has been added.
![1661762475459](https://user-images.githubusercontent.com/40

[2022-08-29 16:41] mmitche opened #864 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 16:41] mmitche commented on #864
This is .NET 8 work

[2022-08-30 14:38] DavyLGinkoia opened #865 "HTTP 404 (NotFound) GitHub"
### Description

I have a problem to debug and step into the source code for my package.
SourceLink is not working properly for my own package (see attached screenshot).

---
### Package Information

![image](https://user-images.githubusercontent.com/99411879/187462195-5221cd98-f740-4217-be1f-9995b0c9861a.png)

---
### Basic Information

- IDE: VSCODE

---
### Configuration Package

[code]

---
##

[2022-08-30 16:01] mmitche opened #866 "Source-build behavior control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-08-30 16:01] mmitche commented on #866
This is .NET 8 work

[2022-08-31 23:49] DavyLGinkoia commented on #635
I have the same problem

[2022-08-31 23:50] DavyLGinkoia commented on #865
[Same probleme as issue 635](https://github.com/dotnet/sourcelink/issues/635)

[2022-09-01 06:04] DavyLGinkoia commented on #865
For information I caught the request sent by sourcelink and there is no authentication

[code]

I try the same request with postman and it's work

I try to change without succes
[code]

#How i can pass the basic  authentication ?

[2022-09-01 15:31] tmat commented on #865
@chuckries

[2022-09-01 18:39] mmitche opened #868 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:39] mmitche commented on #868
This is .NET 8 work

[2022-09-04 15:11] DavyLGinkoia commented on #865
For information i try with VS2022 Comunity a all works fine

[2022-09-05 09:27] moh-hassan opened #869 "Question: How to use the short commit hash"
I reference sourcelink in my project.
set the project property:
[code]
The product version is displayed with the full commit hash like this:
[code]
How to use the short version, like:
[code]

[2022-09-05 19:30] tmat commented on #869
The short version is not supported.

[2022-09-06 00:37] moh-hassan commented on #869
It's nice if the short version can be set like other properties that control `sourcelink` behavior..
The short version is more commonly used by msbuild tool, like: `MSBuild version 17.3.0+92e077650 for .NET` and many other  packages including `dotnet`
For example, a new property can be added as a new feature like:
[code]
which set `SourceRevisionId` to 9 chars which is common short sha in Git.

Fo

[2022-09-08 04:59] hcoona commented on #771
Hit this issue from using [Scalar](https://github.com/microsoft/scalar).

[2022-09-13 06:53] dhtek commented on #487
I have also an issue trying to debug a Razor project with Blazor Web Component using WASM. When I hit the breakpoint, and press F11 to step in the code,  I got this

`
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US">
<head>
    <title>
        Azure DevOps Services | Sign In
    </title>
    <meta http-equiv="X-UA-Com

[2022-09-15 14:19] anthony-c-martin opened #873 ""Copy Permalink" functionality for Visual Studio to generate links to ADO/GitHub repos"
This functionality in the GitHub Codespaces VSCode extension is **SUPER** useful for quickly sharing code snippets with other people. I can select a block of text, and the "Copy GitHub Permalink" dropdown option will generate a permalink to the correct GitHub repo, using my current commit hash to create a permalink to the same block of code. This has a HUGE impact on my workflow for quick knowledg

[2022-09-19 19:13] chuckries opened #877 "Build time Source Link doesn't understand git submodule URL with "@", which is used by AzDO UI."
We have a repo with a submodule with a url in the form of <account>@dev.azure.com/<account>/<project>/<_git>/<repo>. In the .gitmodules file it appears as this:

[code]

The main repo is also Azure Dev Ops, and references `<PackageReference Include="Microsoft.SourceLink.Vsts.Git" Version="1.0.0-beta-63127-02" PrivateAssets="All" />`.

After the submodule is restored, `Microsoft.SourceLink.Vsts.Git

[2022-09-22 20:42] mdemler opened #878 "No luck getting SourceLink to work with Cloud hosted Bitbucket"
Our code is stored on Bitbucket's hosted platform.  We're attempting to debug private NuGet packages that we are the author of.

For the package that I'm testing, I've set the following in its .csproj:

  <PropertyGroup>
    <ContinuousIntegrationBuild>true</ContinuousIntegrationBuild>
    <EmbedUntrackedSources>true</EmbedUntrackedSources>
    <IncludeSymbols>True</IncludeSymbols>
    <PublishRep

[2022-09-30 04:32] shoaibshakeel381 commented on #750
Here's a good overview: https://github.com/riganti/dotvvm/pull/1346#issuecomment-1099103661

[2022-10-02 20:51] peeveen commented on #281
I tried using a proxy approach as suggested by a few users above, but even though it successfully pulled the code from GitLab, the debugging experience in Visual Studio was impossible. On every step-over/step-into attempt, VS seems to be attempting to validate the checksum of the source code, and failing due to a difference in encoding (UTF8/UTF8-BOM, and CRLF/LF). I'm struggling to think of a rel

[2022-10-13 02:50] dominoFire commented on #878
@tmat would you please help me triaging this issue. Thanks!

[2022-10-13 04:07] tmat commented on #878
@chuckries Authentication issue.

[2022-10-13 14:53] mdemler commented on #878
I've further investigated this issue, and I've been unable to get Visual Studio 2022 to ever pass auth credentials when calling into Bitbucket Cloud.  When using Postman and passing the credentials via Basic auth, the URL that it is failing in Visual Studio does indeed work.  I've set the _Fall back to Git Credential Manager authentication for all Source Link requests_ option without any change in

[2022-10-14 15:29] jwfx commented on #281
Ok, I took another stab at this with Fiddler.

It looks like VS is still trying to retrieve the file from GitLab using Basic Auth, which we already know [is not supported](https://gitlab.com/gitlab-org/gitlab/-/issues/19189)

GitLab allows supplying the token via header or query string, see [here](https://docs.gitlab.com/ee/api/#oauth2-tokens).
Just either one needs to be implemented on VS side fo

[2022-10-25 21:14] buvinghausen commented on #616
@shravan2x not sure if you are still looking for a solution but set a condition on the ContinuousIntegrationBuild to only get set when you build in release mode that way you still retain the full debugging experience.

[code]

[2022-10-26 08:20] peeveen opened #894 "Git Credential Manager and ContentUrl with port"
Hi,

As is well documented in [this issue](https://github.com/dotnet/sourcelink/issues/281), internal GitLab repositories don't play nice with SourceLink, but there is a workaround of using a proxy to retrieve the source via the GitLab API.

I've been putting a proxy together, and it all seems to work well, but I've noticed an oddity with how the credentials are retrieved from Git Credential Manag

[2022-10-26 16:01] tmat commented on #894
@chuckries

[2022-10-27 11:22] peeveen commented on #894
Visual Studio bug report: https://developercommunity.visualstudio.com/t/Visual-Studio-strips-port-from-URL-when-/10183823

[2022-10-27 21:16] chuckries commented on #894
@peeveen thanks for reporting this, I am trying to investigate. You are correct that VS does not include the port number today in our requests to GCM-core. This is easy enough to fix, but I am trying to determine if **git.exe includes the port number in its request to credential providers.**

That is to say, if you attempt to clone a git repo from a URL with a port number, will the port number be

[2022-10-27 21:27] chuckries commented on #894
From some testing, it looks like git.exe will provide the port number in the "host" field of the request to a credential manager. I will fix VS to do the same.

[2022-10-27 21:38] peeveen commented on #894
This all sounds very promising. Thanks very much for this. I expect I will eventually be running the proxy again a "proper" hostname (without a port), but I thought I'd better bring this to your attention, as it looked like a defect.

[2022-10-28 11:50] KristianHebert opened #895 "Debugging nuget packages through sourcelink displays wrong file"
We have a .net framework 4.8 project with references to other .net projects and some of our own nuget packages.
Generally debugging into the nuget packages works fine.
When there are identical file names in the nuget package and one of the referenced projects, and we try to debug into the file in the nuget package, the file from the referenced project is displayed indstead of the one from the repo

[2022-10-28 16:06] tmat commented on #895
@chuckries

[2022-10-28 17:26] tmat opened #897 "DefaultValuesForEnableProperties_DesignTimeBuild integration test failed in CI on Linux"
https://dev.azure.com/dnceng-public/public/_build/results?buildId=66309&view=ms.vss-test-web.build-test-results-tab&runId=1348560&resultId=100026&paneView=debug

[code]

[code]

[2022-11-08 09:24] TrymKristian opened #904 "SourceLink information not retained after copy/pasting package to a different location."
Due to legal reason I cannot disclose any screenshots of this issue to the public.

I have a set of nuget packages that are being built on Azure Devops Server with SourceLink. These  nuget packages are dumped by a pipeline to a fileshare. So far so good.

However when I copy the nuget package onto my local machine. The SourceLink information just vanishes.
I've observed this issue by leveraging th

[2022-11-08 19:41] TrymKristian commented on #904
No, symbols are its own .snupkg.

[2022-11-08 19:48] TrymKristian commented on #904
Yeah, we're using jfrog with the newly supported artifactory for .snupkg to serve as our symbol server. I was thinking of using source link. So using nupkg and snupkg I've been able to debug packages. However I just found this issue very strange that, when as mentioned, I just copied a nupkg from network location onto local disk.

[2022-11-09 18:03] tmat commented on #904
@clairernovotny I'm guessing that somehow NuGet Package Explorer can't find the PDBs/symbol packages.
Source Link information is embedded into the PDB. The tool that uses Source Link info needs to be able to find the PDB.

[2022-11-12 08:38] mostmand commented on #487
Facing the same issue for our on-premise Azure DevOps server. Is there going to be a fix or workaround?

[2022-11-22 11:26] oleksandr-didyk opened #909 "Cannot upgrade MSBuild version in sourcelink"
`sourcelink` repository has a dependency on Arcade, which in turn has a dependency on the `SourceLink` package. When updating one of the dependencies of `sourcelink` (for example, `MSBuild`), a version resolution exception is thrown as Arcade's `SourceLink` package requires a lower version of the updated dependency, failing the build

Changes performed to the repo that cause the exception -> https

[2022-11-22 12:19] oleksandr-didyk commented on #909
@crummel sorry for the ping, wanted to ask if you had any time to look into this issue? Thanks

[2022-11-23 14:43] oleksandr-didyk commented on #909
Found the cause of the issue - the previously used property for `PackageReference` of `Microsoft.Build.Tasks.Core` was `MicrosoftBuildTasksCore`, while when adding the dependency to `Version.Details.xml`, Darc added the version of this dependency as `MicrosoftBuildTasksCoreVersion`

Once the referenced property was fixed the issue was resolved

[2022-11-23 14:43] #909 closed